<%@ Master Language="C#" AutoEventWireup="true" CodeFile="AdminPage.master.cs" Inherits="piNews.AdminPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="robots" content="noindex">
  <title>拍新聞</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="img/favicon.ico" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@300;400;500;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic1.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
  <link rel="stylesheet" href="css/admin-main.css?3">
  <link rel="stylesheet" href="css/animation.css">
  <%--<script data-ad-client="ca-pub-7266289617887477" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>--%>
  <asp:ContentPlaceHolder ID="head" runat="server">
  </asp:ContentPlaceHolder>
  <style>
    h2.ui.header {
      font-size: 1.6rem !Important;
    }

    .ui.huge.vertical.menu:not(.icon) {
      width: 21rem !Important;
    }

    html.ios {
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
    }

      html.ios,
      html.ios body {
        height: initial !important;
      }
  </style>
</head>
<body style="overflow: hidden;">
  <div class="hidden" id="signalr_HF"></div>
  <form id="form1" runat="server" class="ui blurring" style="height: 100vh;">
    <div id="loading" class="ui active inverted dimmer" style="background: rgba(255,255,255,.85) !important;">
      <div class="ui blue text loader">Loading</div>
    </div>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="semantic/dist/semantic1.min.js"></script>
    <script src="Scripts/jquery.signalR-2.4.2.js"></script>
    <script src="signalr/hubs"></script>
    <script src="js/signalr.hub.js"></script>
    <div class="ui left vertical huge inverted scrolling visible sidebar menu">
      <h2 class="ui block inverted header">
        <a class="ui circular image" href="Member.aspx" style="background: #fff; display: inline-grid;">
          <span class="square">
            <img src="https://fomantic-ui.com/images/avatar2/large/patrick.png" id="admin_img" runat="server" class="image">
          </span>
        </a>
        <span class="content"><span id="is_admin_or_not" runat="server"></span>&nbsp;<asp:Label ID="admin_name" runat="server" Text=""></asp:Label>
          <%--<span class="sub header">登出</span>--%>
          <span class="sub header">
            <a href="Member.aspx">會員中心</a> ·
          <asp:LinkButton ID="Logout_Btn" OnClick="Logout_LB_Click" runat="server">登出</asp:LinkButton></span>
        </span>
      </h2>
      <a class="item" href="Admin.aspx">個人專頁總覽<%--<div class="ui yellow label">
        <i class="wrench icon"></i>編輯中
      </div>--%>
      </a>
      <div class="item">
        <span class="header">文章/功能設定</span>
        <div class="menu">
          <a class="item" href="Admin_articles.aspx">管理投稿文章</a>
          <a class="item" href="Admin_newArticle.aspx">新增投稿文章</a>
          <%--<a class="item">管理文章側邊欄<div class="ui yellow label">
            <i class="wrench icon"></i>編輯中
          </div>
          </a>--%>
          <a class="item" id="personal_referral" href="Admin_referral.aspx?referral=personal" runat="server" visible="false">個人引薦管理</a>
          <a class="item" href="Idle_Image.aspx">管理圖片上傳</a>
          <a class="item" id="advertise" href="Advertisement.aspx" runat="server" visible="false">個人廣告設定</a>
          <a class="item">個人喜好設定<div class="ui yellow label">
            <i class="wrench icon"></i>編輯中
          </div>
          </a>
        </div>
      </div>
      <div class="item">
        <span class="header">網頁設定</span>
        <div class="menu">
          <a class="item" id="Menu" href="Admin_Category.aspx" runat="server" visible="false">管理投稿分類</a>
          <a class="item" id="homesetting" href="Admin_HomeSetting.aspx" runat="server" visible="false">首頁標題設定</a>
          <a class="item" id="Marquee" href="Admin_Marquee.aspx" runat="server" visible="false">跑馬燈設定</a>
          <a class="item" id="banner" href="Admin_Banners.aspx" runat="server" visible="false">首頁橫幅設定</a>
          <a class="item" id="site_ads" href="Website_Ads.aspx" runat="server" visible="false">網站廣告設定</a>
          <a class="item">管理聯絡我們
              <div class="ui yellow label">
                <i class="wrench icon"></i>編輯中
              </div>
          </a>
        </div>
      </div>
      <div class="item">
        <span class="header">系統設定</span>
        <div class="menu">
          <a class="item" id="all_referral" href="Admin_referral.aspx?referral=all" runat="server" visible="false">會員引薦總覽</a>
          <%--<a class="item">網站基本資料設定
              <div class="ui yellow label">
                <i class="wrench icon"></i>編輯中
              </div>
          </a>
          <a class="item">關鍵字設定<div class="ui yellow label">
            <i class="wrench icon"></i>編輯中
          </div>
          </a>--%>
          <a class="item" id="allPayment" href="Admin_referral.aspx?payment=true" runat="server" visible="false">會員付費總覽</a>
          <a class="item" id="allArticle" href="Admin_AllArticle.aspx" runat="server" visible="false">會員文章總覽</a>
          <a class="item" id="memberlist" href="Admin_MemberList.aspx" runat="server" visible="false">會員資料總覽
              <%--<div class="ui yellow label">
                <i class="wrench icon"></i>編輯中
              </div>--%>
          </a>
          <a class="item" id="openMember" href="Admin_OpenMemberList.aspx" runat="server" visible="false">開通會員</a>
          <a class="item" id="authority" href="Admin_Authority.aspx" runat="server" visible="false">權限設定</a>
          <a class="item" id="site_setting" href="Admin_SiteSetting.aspx" runat="server" visible="false">網站基本資料設定</a>
          <a class="item" href="Admin_AccessLog.aspx">網站管理記錄</a>
          <div class="ui divider"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
      </div>
    </div>
    <div class="pusher">
      <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
      <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
          <div class="placeholder"></div>
        </ContentTemplate>
      </asp:UpdatePanel>
      <div class="ui scrolling mt-0 secondary fitted basic segment" style="overflow-x: auto;">
        <div id="top-menu" class="ui top fixed inverted menu">
          <div id="open_side_menu" class="icon item">
            <i class="bars icon"></i>
          </div>
          <%--<div class="header">拍新聞</div>--%>
          <div class="right menu">
            <a class="item" href="Default.aspx" target="_blank">開啓前台首頁</a>
            <asp:LinkButton ID="Logout_LB" CssClass="item" runat="server" OnClick="Logout_LB_Click">登出</asp:LinkButton>
            <div class="icon item">
              <i class="cog icon"></i>
            </div>
          </div>
        </div>
        <div id="main" class="ui pv-4 mh-4 container">
          <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
          </asp:ContentPlaceHolder>
        </div>
      </div>
      <script>

        setTimeout(function () { console.log('60s pass') }, 60000)
        var timeout = false;
        function keepAlivePoster() {
          //console.log('keep alive')
          objHttp = new XMLHttpRequest();
          objHttp.onreadystatechange = function () {
            if (objHttp.readyState == 4 && objHttp.status == 200) {
              console.log('session alive')
            }
            if (objHttp.status == 503) {
              window.removeEventListener("mousemove", throttleController(keepAlivePoster, 10000));
              //window.removeEventListener("keypress", throttleController(keepAlivePoster, 10000));
              console.log('session timeout')
              $('body').toast({
                title: 'Oops!因爲一些原因，您的帳號登出囉',
                message: '若您正處於發文途中，請勿刷新頁面，可另開分頁登入，即可繼續完成並上傳您的文章唷ο(=•ω＜=)ρ⌒☆',
                showProgress: 'bottom',
                displayTime: 0,
                classActions: 'bottom attached',
                actions: [{
                  text: '知道了',
                  class: 'yellow',
                }, {
                  text: '前往新分頁登入<i class="fas fa-arrow-circle-right"></i>',
                  class: 'blue',
                  click: function () {
                    window.open('/Login', '_blank').focus();
                  }
                }]
              });
              timeout = true;
            }
          }
          objHttp.open('GET', '/UserAction/isAlive.ashx');
          <%--objHttp.open('GET', '(S(<%= Session.SessionID %>))/UserAction/isAlive.ashx');--%>
          objHttp.send(null);
        };
        function throttleController(callback, limit) {     // TAKEN FROM: https://jsfiddle.net/jonathansampson/m7G64/
          var wait = false; return function () {
            if (!wait && !timeout) { callback.call(); wait = true; setTimeout(function () { wait = false; }, limit); }
          }
        }

        if (<%= Session["User_Id"] != null ? "true": "false" %>) {
          window.addEventListener("mousemove", throttleController(keepAlivePoster, 120000));
          //window.addEventListener("keypress", throttleController(keepAlivePoster, 300000));
        }

        function refresh_ui() {
          $('.pusher').css('transition', 'all .3s linear');
          $('.ui.sidebar').sidebar({
            context: 'form',
            dimPage: false,
            closable: false,
            duration: 300,
            onVisible: function () {
              $('.pusher').width($(window).width() - $('.ui.sidebar').width())
            }, onHide: function () {
              $('.pusher').width($(window).width())
            }
          });

          $(window).on('resize', function () {
            if ($('.ui.sidebar').sidebar('is visible')) {
              $('.pusher').width($(window).width() - $('.ui.sidebar').width())
            } else {
              $('.pusher').width($(window).width())
            }
          })

          if ($(window).width() > 425) {
            $('.pusher').width($(window).width() - $('.ui.sidebar').width())
            $('.ui.sidebar').sidebar('push page')
          } else {
            $('.ui.sidebar').removeClass('visible');
          }
          $('#open_side_menu').on('click', function () {
            $('.ui.sidebar').sidebar('toggle');
          })
          $('.sidebar.menu .hidden.item').remove();
          $('.sidebar.menu > .item:has(.menu:not(:has(*)))').addClass('hidden');
        }
      </script>
    </div>
    <script>
      if ($('#advertise').css('display') == 'none') alert('您可能開啓了阻擋廣告之功能，如要使用個人廣告設定，請關閉阻擋功能避免影響使用。');
      var prm = Sys.WebForms.PageRequestManager.getInstance();
      prm.add_endRequest(function () {
        refresh_ui();
      })

      refresh_ui();

      //$('.ui.scrolling.mt-0.segment').css('margin-top', $('#top-menu').height());

      $(window).on('load', function () {
        //setTimeout(() => {
        $('#loading').removeClass('active') //}, 300);
        $('.dimmer:has(.fullscreen.overlay)').css('overflow', 'hidden');
      })
    </script>
  </form>
</body>
</html>
