<%@ Master Language="C#" AutoEventWireup="true" CodeFile="ClientPage.master.cs" Inherits="piNews.ClientPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>拍新聞</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="img/favicon.ico" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@300;400;500;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/css/main.css?07">
  <link rel="stylesheet" href="/css/animation.css?02">
  <meta property="og:site_name" content="拍新聞">
  <meta id="og_description" runat="server" property="og:description" />
  <meta id="description" runat="server" property="description" />
  <script data-ad-client="ca-pub-7266289617887477" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <asp:ContentPlaceHolder ID="head" runat="server">
  </asp:ContentPlaceHolder>

  <style>
    .ui.medium.image {
      width: 300px;
      height: auto;
      font-size: 1rem;
      margin: auto !important;
    }

    form.pushable .ui.scrolling.pusher.container {
      overflow: auto;
      height: 100vh !important;
      /*margin-right: 0;*/
      /*padding-right: 1rem;*/
    }

    form.pushable .ui.scrolling.pusher.dimmed.container {
      overflow: hidden;
    }

    .pushable:not(body) > .dimmed.pusher:after {
      position: fixed;
    }

    #light-search .menu .message {
      display: none;
    }

    #main-menu .dropdown .menu .message {
      display: none;
    }

    @media screen and (min-width: 768px) {
      #main-menu #search {
        display: -webkit-box;
      }
    }

    @media screen and (max-width: 767.98px) {

      form.pushable .ui.scrolling.pusher.container {
        margin-right: 0;
        padding-right: 1rem;
      }
    }
  </style>

</head>
<body>
  <div class="hidden" id="signalr_HF"></div>
  <form id="form1" class="ui blurring dimmable" runat="server">
    <div id="loading" class="ui inverted dimmer" style="z-index: 1200 !important; position: fixed; background: rgba(230, 167, 50, 0.8);">
      <%--<div class="ui blue text loader">Loading</div>--%>
      <div class="content">
        <div class="ui inverted icon huge header" style="color: #257fa4;">
          <i class="newspaper icon"></i>
          Loading...
        </div>
      </div>
    </div>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/js/main.js?cw"></script>
    <script src="/js/CookieCheck.js"></script>
    <script src="/Scripts/jquery.signalR-2.4.2.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/js/signalr.hub.js"></script>
    <asp:HiddenField ID="ContentPageTitle_HF" runat="server" />
    <div class="ui top demo vertical inverted sidebar labeled icon blue menu">
      <asp:Repeater ID="Menu_VR" runat="server" DataSourceID="SqlDataSource1">
        <ItemTemplate>
          <a class='item<%# Request.QueryString["id"] != null ? 
                (Eval("Id").ToString() == Request.QueryString["id"].ToString() ? " active":""):"" %>'
            href='<%# string.Format("/News/{0}", Eval("Id")) %>'><%# Eval("Name") %></a>
        </ItemTemplate>
      </asp:Repeater>
      <asp:SqlDataSource runat="server" ID="SqlDataSource1" ConnectionString='<%$ ConnectionStrings:PiNewsConStr %>' SelectCommand="SELECT * FROM [Menu] ORDER BY [odr]"></asp:SqlDataSource>
      <%--<a class="item" href="OnlinePost.aspx">線上投稿
      </a>--%>
    </div>
    <%--<div class="ui blue inverted active dimmer">
      <i class="massive yellow moon icon"></i>
      <i class="massive yellow moon outline hidden icon" style="position: absolute;"></i>
      <i class="massive blue sun hidden icon" style="position: absolute;"></i>
      <i class="massive blue sun outline hidden icon" style="position: absolute;"></i>
      <i class="massive blue coffee icon hidden"></i>
      <i class="massive blue newspaper outline icon hidden"></i>
      <i class="massive blue cookie icon hidden"></i>
      <i class="massive blue grin alternate outline icon hidden"></i>
    </div>--%>
    <div class="ui scrolling pusher container">
      <div class="ui basic yellow inverted segment" style="margin-top: 0;">
        <div class="ui container">

          <div class="ui right floated horizontal divided list">
            <%--<a class="right item" id="Admin_a" href="/Admin_articles.aspx" runat="server" visible="false">
            <div class="content">
              <i class="user friends icon"></i>後台管理
            </div>
          </a>--%>
            <a class="right item" id="Member" href="/Member.aspx" runat="server">
              <div class="content">
                <i class="user friends icon"></i>會員中心
              </div>
            </a>
            <asp:LinkButton ID="Logout" CssClass="right item" OnClick="Logout_Click" runat="server">
            <div class="content">
              <i class="door open icon"></i>登出
            </div>
            </asp:LinkButton>
            <a class="right item" id="Login" href="/Login" runat="server">
              <div class="content">
                <i class="user friends icon"></i>網記登入/註冊
              </div>
            </a>
            <a class="right item" href="/ContactUs">
              <div class="content">
                <i class="envelope icon"></i>聯絡我們
              </div>
            </a>
          </div>

          <div class="ui horizontal list">
            <%--<asp:LoginName ID="LoginName1" runat="server" FormatString="歡迎回來，{0}" />--%>
            <asp:Label ID="User_info" CssClass="item" runat="server" Text=""></asp:Label>
            <%--<div class="item" style="visibility: hidden;">
            <div class="content">
              <i class="user friends icon"></i>會員中心
            </div>
          </div>--%>
          </div>
        </div>
      </div>
      <a class="ui medium image" href="/Home">
        <img src="/img/PiNewsGIF2.gif">
      </a>
      <div id="hidden-menu" class="hidden">
        <div class="option item"><i class="bars icon"></i></div>
      </div>
      <div id="main-menu" class="ui pointing blue inverted sticky menu">
        <asp:Repeater ID="Menu_HR" runat="server" DataSourceID="SqlDataSource1">
          <ItemTemplate>
            <a class='horizontal item<%# Page.RouteData.Values["Id"] != null ? 
                (Eval("Id").ToString() ==  Page.RouteData.Values["Id"].ToString() ? " active":""):(Request.QueryString["id"] != null ? 
                (Eval("Id").ToString() == Request.QueryString["id"].ToString() ? " active":""):"") %>'
              href='<%# GetRouteUrl("NewsRoute", new { Id = Eval("Id") }) %>'><%# Eval("Name") %></a>
          </ItemTemplate>
        </asp:Repeater>
        <span class="underline"></span>
        <%--<a class='<%= System.IO.Path.GetFileName(Request.PhysicalPath).Equals("OnlinePost.aspx")?"active":"" %> horizontal item' href="OnlinePost.aspx">線上投稿
        </a>--%>
        <%--<div id="light-search" class="ui hidden top right floating dropdown icon item" style="background: #e6a732;">
          <i class="search link icon"></i>
          <div class="menu" style="background: #e6a732;">
            <div class="ui transparent icon inverted search input">
              <input placeholder="Search..." />
              <a class="ui tertiary icon button" style="padding: 0 !important;"><i class="search link icon"></i></a>
            </div>
            <div class="hidden helper item"></div>
            <div class="hidden helper item"></div>
          </div>
        </div>--%>
        <div class="ui hidden top right floating dropdown icon item" style="background: #e6a732;">
          <i class="search link icon"></i>
          <div class="menu" style="background: #e6a732;">
            <div class="ui transparent icon inverted search input">
              <asp:TextBox ID="Search1_TB" CssClass="" TextMode="Search" placeholder="Search..." onchange="javascript: return isempty1();" OnTextChanged="Search1_TB_TextChanged" runat="server"></asp:TextBox>
              <%--<input type="search" id="search1" runat="server" onchange="return isempty();" placeholder="Search..." />--%>
              <asp:LinkButton ID="LinkButton2" runat="server" CssClass="ui tertiary icon button" Style="padding: 0 !important;" OnClientClick="javascript: return isempty1();" OnClick="Search1_TB_TextChanged"><i class="search link icon" style="margin: 2.5px 0;"></i></asp:LinkButton>
            </div>
            <div class="hidden item"></div>
            <div class="hidden item"></div>
          </div>
        </div>

        <%--<div class="hidden item"></div>--%>
        <span class="right menu">
          <span class="item" style="background: #e6a732; border-radius: 0 .28571429rem 0 0;">
            <span id="search" class="ui transparent icon inverted search">
              <asp:TextBox ID="Search_TB" runat="server" CssClass="hidden" TextMode="Search" placeholder="Search..." onchange="javascript: return isempty();" OnTextChanged="Search_TB_TextChanged"></asp:TextBox>
              <asp:LinkButton ID="LinkButton1" CssClass="ui tertiary icon button" Style="padding: 0 !important;" OnClientClick="javascript: return isempty();" OnClick="Search_TB_TextChanged" runat="server"><i class="search link icon" style="margin: 2.5px 0;"></i></asp:LinkButton>
            </span>
          </span>
        </span>
      </div>
      <div class="ui hidden placeholder"></div>
      <div class="ui container">
        <div class="ui fitted basic segment">
          <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
          </asp:ContentPlaceHolder>
        </div>
        <div class="ui container">
          <div class="ui container grid">
            <div id="bottom-left-menu" class="ui five wide top-show column">
              <div class="ui large two column grid list">

                <asp:Repeater ID="Menu_BR" runat="server" DataSourceID="SqlDataSource1">
                  <ItemTemplate>
                    <div class="column item">
                      <div><a class="ui link" href='<%# GetRouteUrl("NewsRoute", new { Id = Eval("Id") }) %>'><%# Eval("Name") %></a></div>
                    </div>
                  </ItemTemplate>
                </asp:Repeater>
              </div>
            </div>
            <div id="bottom-center-menu" class="ui six wide center aligned middle aligned top-show column">
              <a class="ui medium image" href="/Home" style="margin-right: -6.5rem;">
                <img src="/img/PiNewsGIF1.gif">
              </a>
              <div id="social-media" class="ui basic fitted segment">
                <a class="ui basic blue icon button" target="_blank" href='<%= Application["Line"] %>'>
                  <i class="line icon"></i>
                </a>
                <a class="ui basic blue icon button" target="_blank" href='<%= Application["FB"] %>'>
                  <i class="facebook f icon"></i>
                </a>
                <a class="ui basic blue icon button" target="_blank" href='<%= Application["Youtube"] %>'>
                  <i class="youtube icon"></i>
                </a>
              </div>
            </div>
            <div id="bottom-right-menu" class="ui five wide top-show middle aligned column">
              <div class="ui middle aligned animated list" style="text-align: center;">
                <asp:Repeater ID="Repeater1" runat="server" DataSourceID="SqlDataSource2">
                  <ItemTemplate>
                    <a class="item" href='<%# Eval("Link") %>' target="_blank">
                      <img src='/Image.aspx?Id=<%# Eval("Img_Id") %>' style="height: 35px;" />
                    </a>
                  </ItemTemplate>
                </asp:Repeater>
                <%--<a class="item">
                <img src="http://www.pinews.com.tw/upload/banner/images/220161128110212.PNG" style="height: 35px;" />
              </a>--%>
                <asp:SqlDataSource runat="server" ID="SqlDataSource2" ConnectionString='<%$ ConnectionStrings:PiNewsConStr %>' SelectCommand="SELECT [Img_Id], [Link] FROM [Advertisement] WHERE ([Type] = @Type)">
                  <SelectParameters>
                    <asp:Parameter DefaultValue="friend" Name="Type" Type="String"></asp:Parameter>
                  </SelectParameters>
                </asp:SqlDataSource>
              </div>
            </div>
          </div>

        </div>
        <div class="ui gray center aligned basic inverted horizontally fitted segment">拍新聞</div>
      </div>
    </div>
    <script>
      $('#main-menu .ui.dropdown').dropdown({ transition: 'fade up' })

      $('form.ui.dimmable .dimmer').dimmer({ closable: false, duration: { show: 0 } }).dimmer('show')

      $(window).on('load', function () {
        $('form.ui.dimmable .dimmer').dimmer('hide')
      })

      //setTimeout(function () { console.log('60s pass') }, 60000)
      var timeout = false;
      function keepAlivePoster() {
        //console.log('keep alive')
        objHttp = new XMLHttpRequest();
        objHttp.onreadystatechange = function () {
          if (objHttp.readyState == 4 && objHttp.status == 200) {
            //console.log('session alive')
          }
          if (objHttp.status == 503) {
            window.removeEventListener("mousemove", throttleController(keepAlivePoster, 120000));
            console.log('session timeout')
            $('body').toast({
              title: 'Oops!因爲一些原因，您的帳號登出囉',
              message: '若您正處於發文途中，請勿刷新頁面，可另開分頁登入，即可繼續完成並上傳您的文章唷ο(=•ω＜=)ρ⌒☆',
              showProgress: 'bottom',
              displayTime: 0,
              classActions: 'bottom attached',
              actions: [{
                text: '知道了',
                class: 'yellow',
              }, {
                text: '前往新分頁登入<i class="fas fa-arrow-circle-right"></i>',
                class: 'blue',
                click: function () {
                  window.open('/Login', '_blank').focus();
                }
              }]
            });
            timeout = true;
          }
        }
        objHttp.open('GET', '/UserAction/isAlive.ashx');
        objHttp.send(null);
      };
      function throttleController(callback, limit) {     // TAKEN FROM: https://jsfiddle.net/jonathansampson/m7G64/
        console.log('mv')
        //if (timeout) window.removeEventListener("mousemove", throttleController(keepAlivePoster, 10000));
        var wait = false; return function () {
          if (!wait && !timeout) { callback.call(); wait = true; setTimeout(function () { wait = false; }, limit); }
        }
      }
      if (<%= Session["User_Id"] != null ? "true": "false" %>) {
        window.addEventListener("mousemove", throttleController(keepAlivePoster, 10000));
      }

      function isempty() {
        console.log($('#<%= Search_TB.ClientID %>').val().trim() != '')
        if ($('#<%= Search_TB.ClientID %>').val().trim() != '')
          return true;
        return false;
      }

      function isempty1() {
        console.log($('#<%= Search1_TB.ClientID %>').val().trim() != '')
        if ($('#<%= Search1_TB.ClientID %>').val().trim() != '')
          return true;
        return false;
      }
    </script>
  </form>
</body>
</html>
