<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="piNews.MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>拍新聞</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/animation.css">
  <asp:ContentPlaceHolder ID="head" runat="server">
  </asp:ContentPlaceHolder>
</head>
<body>
  <form id="form1" runat="server">
    <div class="ui basic yellow inverted segment" style="margin-top: 0;">
      <div class="ui container">
        <div class="ui horizontal list">
          <div class="item" style="visibility: hidden;">
            <div class="content">
              <i class="user friends icon"></i>會員中心
            </div>
          </div>
        </div>
        <div class="ui right floated horizontal divided list">
          <a class="item" id="Member" href="Member.aspx" runat="server">
            <div class="content">
              <i class="user friends icon"></i>會員中心
            </div>
          </a>
          <asp:LinkButton ID="Logout" CssClass="item" runat="server">
            <div class="content">
              <i class="door open icon"></i>登出
            </div>
          </asp:LinkButton>
          <a class="item" id="Login" href="Login.aspx" runat="server">
            <div class="content">
              <i class="user friends icon"></i>網記登入/註冊
            </div>
          </a>
          <a class="item" href="ContactUs.aspx">
            <div class="content">
              <i class="envelope icon"></i>聯絡我們
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="ui top demo vertical inverted sidebar labeled icon blue menu">
      <asp:Repeater ID="Menu_VR" runat="server" DataSourceID="SqlDataSource1">
        <ItemTemplate>
          <a class='item<%# Request.QueryString["id"] != null ? 
                (Eval("Id").ToString() == Request.QueryString["id"].ToString() ? " active":""):"" %>'
            href='<%# string.Format("News.aspx?id={0}", Eval("Id")) %>'><%# Eval("Name") %></a>
        </ItemTemplate>
      </asp:Repeater>
      <asp:SqlDataSource runat="server" ID="SqlDataSource1" ConnectionString='<%$ ConnectionStrings:PiNewsConStr %>' SelectCommand="SELECT * FROM [Menu]"></asp:SqlDataSource>
      <a class="item" href="News.aspx">線上投稿
      </a>
    </div>
    <div class="ui container">
      <a class="ui medium image" href="Default.aspx">
        <img src="img/PiNewsGIF2.gif">
      </a>
      <div id="hidden-menu" class="hidden">
        <div class="option item"><i class="bars icon"></i></div>
      </div>
      <div id="main-menu" class="ui pointing blue inverted sticky menu">
        <asp:Repeater ID="Menu_HR" runat="server" DataSourceID="SqlDataSource1">
          <ItemTemplate>
            <a class='horizontal item<%# Request.QueryString["id"] != null ? 
                (Eval("Id").ToString() == Request.QueryString["id"].ToString() ? " active":""):"" %>'
              href='<%# string.Format("News.aspx?id={0}", Eval("Id")) %>'><%# Eval("Name") %></a>
          </ItemTemplate>
        </asp:Repeater>
        <a class="horizontal item" href="OnlinePost.aspx">線上投稿
        </a>
        <div id="light-search" class="hidden ui combo top right floating dropdown icon item">
          <i class="search link icon"></i>
          <div class="ui inverted blue menu">
            <div class="hidden helper item"></div>
          </div>
        </div>
        <div class="right menu">
          <div class="item">
            <div id="search" class="ui transparent icon inverted">
              <input type="text" class="hidden" placeholder="Search...">
              <i class="search link icon" style="margin: 3.5px 0;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui fitted basic segment">
      <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
      </asp:ContentPlaceHolder>
    </div>
    <div class="ui container">
      <div class="ui container grid">
        <div id="bottom-left-menu" class="ui six wide top-show column">
          <a class="ui medium image" href="Default.aspx">
            <img src="img/PiNewsGIF2.gif">
          </a>
          <div id="social-media" class="ui basic fitted segment">
            <a class="ui basic blue icon button">
              <i class="line icon"></i>
            </a>
            <a class="ui basic blue icon button">
              <i class="facebook f icon"></i>
            </a>
            <a class="ui basic blue icon button">
              <i class="youtube icon"></i>
            </a>
          </div>
        </div>
        <div id="bottom-right-menu" class="ui five wide top-show column">
          <div class="ui large two column grid list">

            <asp:Repeater ID="Menu_BR" runat="server" DataSourceID="SqlDataSource1">
              <ItemTemplate>
                <div class="column item">
                  <div><a class="ui link" href='<%# string.Format("News.aspx?id={0}", Eval("Id")) %>'><%# Eval("Name") %></a></div>
                </div>
              </ItemTemplate>
            </asp:Repeater>
          </div>
        </div>
      </div>

    </div>
    <div class="ui gray center aligned basic inverted horizontally fitted segment">拍新聞</div>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="js/main.js"></script>
  </form>
</body>
</html>
